.question-option{
    box-shadow: 0px 0px 30px #c4c3c3;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    
}
.question{
    border: 1px solid blueviolet;
    padding: 20px 10px;
    border-radius: 10px;
    margin: 10px 5px;
}
.question:hover{
    background-color: #dfc6f7;
}
.see-correct{
    cursor: pointer;
}
.see-correct:hover{
    color: blueviolet;
}